.loginContainer {
  background-color: black;
  width: 750px;
  margin: auto;
  border: 1px solid black;
  padding-top: 40px;
}

.body {
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}

.header {
  background-color: black;
}

.logo {
  width: 150px;
  padding-top: 50px;
  margin-left: 30px;
  padding-bottom: 50px;
  position: relative;
}

.logosvg {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

.title {
  display: flex;
  margin: auto;
  width: 330px;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 40px;
}

.wrapper {
  width: 330px;
  margin: auto;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}

.wrapper::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #363636;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 30px;
}

.form {
  padding-top: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(90, 90, 90);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 1px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1ed760;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1ed760;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.rememberMe {
  font-size: 13px;
  font-weight: 500;
  transform: translate(0px, 25px);
}

.centerBlock {
  display: block;
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: center;
}

.centerBlockBotom {
  display: block;
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}

.account {
  text-decoration: underline;
}

.noAccount {
  color: gray;
}

.account:hover {
  color: #1ed760;
}

@media (min-width: 766px) {
  .loginContainer {
    border-radius: 10px;
  }

  .header {
    margin-bottom: 30px;
  }

  .wrapper::after {
    width: 550px;
    margin-left: -100px;
  }
}

@media (max-width: 766px) {
  .loginContainer {
    width: 100%;
    padding-top: 0;
  }

  .body {
    background-color: black;
  }

  .logo {
    translate: 0px 10px;
  }

  .header {
    margin-bottom: -20px;
  }

  .wrapper {
    width: 90%;
  }

  .title {
    font-size: 30px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .logo {
    width: 80px;
    padding-top: 50px;
  }

  .wrapperLast::after {
    display: none;
  }

  .wrapperLast {
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  .account {
    display: block;
  }

  .centerBlockBotom {
    margin-top: 0px;
  }

  .account {
    margin-top: 10px;
  }
}
